#nav {
    background-color: rgba(140,198,209,0.9);
	color: #ffffff;
	letter-spacing: 4.5px;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 1000;
	transition-duration: 0.6s;  
    -moz-transition-duration: 0.6s;  
    -webkit-transition-duration: 0.6s;  
    -o-transition-duration: 0.6s; 
}

#update {
    padding-bottom: 70px;
    overflow: auto;
}