/* general */
html, body {
    color: #95989A;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;    
}

.container {
    width: 90%;
}

.inner-container {
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #FFFFFF;    
    font-family: 'Conv_hn 35 thin';
    font-weight: 100;  
    margin: 0;
}

h1 {
    font-size: 40px;
    letter-spacing: 4px;
    text-shadow: 1.3px 0.8px #93B1AF;
}

h2 {
    background-color: rgba(147,166,165, 0.30);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 35px;
    margin-top: 35px;
    padding: 12px 0px 5px 0px;
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 24px;
    letter-spacing: 4px;
    text-align: right;
}

/* banner styles */

#home {
	width: 100%;
	height: 100%;
	min-height: 300px;
	position: relative;
	overflow: hidden;
	z-index: -100;
}

.home-image {
	background-image: url('img/index_img.jpeg');
    position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

/* navigation styles */
#nav {
	color: #ffffff;
	letter-spacing: 4.5px;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 1000;
	transition-duration: 0.6s;  
    -moz-transition-duration: 0.6s;  
    -webkit-transition-duration: 0.6s;  
    -o-transition-duration: 0.6s; 
}

.nav-links {
	text-align: right;
	padding: 20px 0;
	float: right;
	margin-right: 5%;
}

.nav-links a:link, .nav-links a:visited, .nav-links a:active, .nav-links a:hover {
	color: #ffffff;
	text-decoration: none;
	transition-duration: 0.6s;  
    -moz-transition-duration: 0.6s;  
    -webkit-transition-duration: 0.6s;  
    -o-transition-duration: 0.6s; 
}

.nav-links a:hover {
	color: #505050;
	transition-duration: 0.6s;  
    -moz-transition-duration: 0.6s;  
    -webkit-transition-duration: 0.6s;  
    -o-transition-duration: 0.6s; 
}

.nav-links ul {
	list-style-type: none;
}

.nav-links li {
	display: inline;
}

.nav-links li:not(:last-child) {
	padding-right: 15px;
}

@media (min-width: 908px) {
    .nav-logo-text {
        position: fixed;
        z-index: 2000;
        margin: 13px 0 0 5%;
        padding: 20px 0;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #505050;
        text-align: center;
    }
}


@media (max-width: 907px) {
	.nav-links {
		float: none;
		text-align: center;
        padding: 0;
	}
    .nav-logo-text {
        color: #505050;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 656px) {
	.nav-links {
		line-height: 30px;
		text-align: center;
		float: none;
	}

}

/* welcome msg styles */
.welcome-msg {
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
	position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
	width: 100%;
    height: 100px;
    margin-left: -50%;
    margin-top: -65px;
}

.wel-title {
    border-bottom: 4px solid #FFFFFF;
    margin: 0;
    display: inline-block;
}

.wel-sub {
    color: #C4C4C4;
    padding-left: 20%;
    border-bottom: 4px solid #FFFFFF;
    margin: 0;
    display: inline-block;
}

.wel-above {
    border-bottom: none !important;
    font-size: 10pt;
    display: block !important;
    letter-spacing: 6px;
    font-family: sans-serif;
}

.welcome-button {
    text-transform: none;
    font-variant: small-caps;
    background-color: #93A6A5;
    font-size: 12pt;
    width: 120px;
    margin: 0 auto;
    padding: 8px;
    padding-top: 3px;
}

.welcome-msg a:link, .welcome-msg a:visited, .welcome-msg a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.button-border {
    border: 1px solid #93A6A5;
    margin: 0 auto;
    margin-top: 12px;
    padding: 1px 0px;
    width: 138px;
}

/* background styles */
#background {
    background-color: #505050;
    padding-bottom: 30px;
}

@media (min-width: 657px) {
    #background {
        padding-top: 105px;
    }
}

@media (max-width: 656px) {
    #background {
        padding-top: 155px;
    }
}

@media (max-width: 370px) {
    #background {
        padding-top: 180px;
    } 
}

@media (max-width: 289px) {
    #background {
        padding-top: 210px;
    } 
}

@media (max-width: 229px) {
    #background {
        padding-top: 250px;
    } 
}

@media (max-width: 206px) {
    #background {
        padding-top: 290px;
    } 
}

#background p {
    margin-top: 0;
    text-align: justify;
}

.secondlife {
    float:left;
    width: 50%;
}

.secondlife p {
    padding-right: 10px;
}

.immersive {
    overflow: hidden;
    width: 50%;
}

.immersive p {
    padding-left: 10px;
}

/* footer styles */
#footer {
    background-color: #93A6A5;
    color:#FFFFFF;
    font-weight: 100;
    letter-spacing: 2px;
    overflow: auto;
    padding: 20px;
    text-align: center;
}

#footer p {
    margin: 0;
}